.header_title{
    font-weight: 200;
    font-size: 45px ;
    line-height: 48px ;
    text-align: center;
    color: #FFFFFF ;
    
}

.header_description{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF ;
}

.Header_btn{
    width:416px;
    height: 60px;
    top: 979px;
    left: 752px;
    text-align: center;
}


@media(max-width:1199px){
    .Header_btn{
      
    }
}